<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form.label :user_id%>
  <%= form_with(scope: "user_id") do |f|  %>
  <%= form.select :user_id , @users.map{|c| [c.first_name,c.id]},class:"dropdown-item"%>
 

<%= form.label :car_id%>
  <%= form_with(scope: "car_id") do |f|  %>
  <%= form.select :car_id , @cars.map{|c| [c.Manufacturer,c.id]},class:"dropdown-item"%>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>
  
  <div class="field">
   
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
<% end %>
