<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th>Start date</th>
      <th>End date</th>
           <th>photo</th>
            <th>Manufacturer</th>
            <th> License_plate</th>
 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @i=0%>
    <% @reservations.each do |reservation| %>
    
      <tr>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
         <td><%= image_tag(@listmatricule[@i],style:'width:20%') %></td>
         <td><%= @listphoto[@i] %></td>
         <td><%= @listlis[@i] %></td>

        <td><%= link_to 'Show', reservation , class:"btn btn-outline-secondary"%></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation), class:"btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%></td>
      </tr>
      <% @i+=1%>
   
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
