<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th>Manufacturer</th>
      <th>License plate</th>
      <th>Photo</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.Manufacturer %></td>
        <td><%= car.License_plate %></td>
        <td><%= image_tag(car.photo,style:'width:20%') %></td>
        <td><%= link_to 'Show', car ,class:"btn btn-outline-secondary"%></td>
        <td><%= link_to 'Edit', edit_car_path(car) ,class:"btn btn-outline-secondary"%></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path ,class:"btn btn-outline-secondary"%>
